[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/zim-syntax"]
	path = bundle/zim-syntax
	url = https://github.com/vim-scripts/zim-syntax.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/jshint2"]
	path = bundle/jshint2
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "bundle/autoswap"]
	path = bundle/autoswap
	url = /home/tant/git/vim-autoswap/
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/localrc"]
	path = bundle/localrc
	url = https://github.com/thinca/vim-localrc.git
