[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/zim-syntax"]
	path = bundle/zim-syntax
	url = https://github.com/vim-scripts/zim-syntax.git
